.todos-container {
  margin-top: 200px;
  padding: 10px;
  background: white;
  width: 600px;
}

.error {
  color: #ba3e3e;
  margin-left: 130px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
